# Sets

Sets are an unordered collection of unique elements. We can construct them by using the set() function.

In [1]:
x = set()

In [2]:
x

set()

In [3]:
# adding element in set
x.add(1)

In [4]:
x

{1}

In [6]:
# add more element
x.add(2)

In [7]:
x

{1, 2}

In [8]:
# set always contains unique elements
# try adding duplicate elements
x.add(1)

In [9]:
x

{1, 2}

In [10]:
# notice we tried adding one more '1'
# but it has just one instance of '1'
# because set always has uniques elements

In [11]:
# a list can be cast into set using set()

In [12]:
l = [1,1,2,5,3,6,5,3,8,9,0] # list with duplicate elements

In [13]:
l_set = set(l)

In [14]:
l_set

{0, 1, 2, 3, 5, 6, 8, 9}

In [15]:
# only unique entries are in l_set

# set methods

In [3]:
l = [0, 1, 2, 3, 5, 6, 8, 9]

In [4]:
l_set = set(l)

In [5]:
l_set

{0, 1, 2, 3, 5, 6, 8, 9}

In [6]:
# clear() method
# removes all the elements of the set

In [7]:
l_set.clear()

In [8]:
l_set

set()

In [9]:
l_set.add(1)
l_set.add(2)
l_set.add(3)
l_set.add(4)
l_set.add(7)

In [10]:
l_set

{1, 2, 3, 4, 7}

In [11]:
# copy method returns copy of the set

In [12]:
l_set2 = l_set.copy()

In [13]:
l_set2

{1, 2, 3, 4, 7}

In [14]:
l_set2.add(8)
l_set2.add(0)

In [15]:
l_set2

{0, 1, 2, 3, 4, 7, 8}

In [16]:
l_set

{1, 2, 3, 4, 7}

In [17]:
# difference() method gives diff of sets (set1-set2)
# elements which are present first set but not in second set

In [18]:
l_set2.difference(l_set)

{0, 8}

In [48]:
l_set.difference(l_set2)

set()

In [19]:
# difference_update() method removes the items 
# in this set that are also included 
# in another, specified set
l_set2.difference_update(l_set)

In [20]:
l_set2

{0, 8}

In [21]:
l_set

{1, 2, 3, 4, 7}

In [22]:
l_set2 = l_set.copy()

In [23]:
l_set2.add(8)
l_set2.add(0)

In [24]:
l_set2

{0, 1, 2, 3, 4, 7, 8}

In [25]:
# intersection() Returns a set, that is the 
# intersection of two other sets,common elements of the sets
l_set2.intersection(l_set)

{1, 2, 3, 4, 7}

In [34]:
#union() Return a set containing the union of sets
l_set2.union(l_set)

{0, 1, 2, 3, 4, 7, 8}

In [35]:
l3 = [9,11,12,13]
l_set3 = set(l3)

In [36]:
l_set2.union(l_set3)

{0, 1, 2, 3, 4, 7, 8, 9, 11, 12, 13}

In [26]:
# isdisjoint() Returns whether two sets have a intersection or not
l_set2.isdisjoint(l_set)

False

In [28]:
l_set2.isdisjoint(l_set3)

True

In [29]:
# issubset() Returns whether another set contains this set or not
l_set2.issubset(l_set)

False

In [30]:
l_set.issubset(l_set2)

True

In [32]:
# issuperset() Returns whether this set contains another set or not
l_set2.issuperset(l_set)

True

In [33]:
l_set.issuperset(l_set2)

False

In [41]:
#pop() Removes any arbitrary set element
#remove() Removes the specified element
#discard() Remove the specified item
l_set3.pop()

9

In [42]:
l_set3.add(9)

In [43]:
l_set3.remove(11)

In [44]:
l_set3

{9, 12, 13}

In [45]:
l_set3.remove(11) # if element is not a set memeber , it throws error

KeyError: 11

In [46]:
l_set3.discard(9)

In [49]:
l_set3

{12, 13}

In [47]:
l_set3.discard(9) # trying to remove 9 again - if element is not a set memeber , it does not throw error, just does nothing